<div class="page-header">
  <div class="col-md-5"> </div>
    <h1>Twitter <small>Show your user           <%= link_to 'Home', users_path(user_id: @user.id) , class: "btn btn-success" %>
</div></small></h1>
</div>

</br>
</br>
</br>
</br>
<div class="col-md-1">
</div>
<div class="col-md-4">
    <div class="form-group">
    <label>Nom : </label>
    <%= @user.username %>
    </div>
    <div class="form-group">
    <label>Email : </label>
    <%= @user.email %>
    </div>
    <%= link_to 'New tweet', new_user_tweet_path(user_id: @user.id) , class: "btn btn-success" %>
</div>
<div class="col-md-12">
        <div class="col-md-5 col-md-offset-1">
            <table class="table table-striped">
                <tr><th>id</th><th>Message</th><th>Poster le</th><th></th><th></th><th></th></tr>
                <% @tweets.each do |tweet| %>
                <tr><td><%= tweet.id %></td><td><%= tweet.message %></td><td><%= tweet.created_at %></td><td><%= link_to 'Edit Tweet', edit_user_tweet_path(@user, tweet) , class: "btn btn-warning" %></td><td><%= link_to 'Delete Tweet', user_tweet_path(@user, tweet), method: :delete, data: { confirm: 'Are you sure?'} , class: "btn btn-danger" %></td></tr>
                <% end %>
            </table>
        </div>
    </div>




