<div class="page-header">
  <div class="col-md-5"> </div>
    <h1>Twitter <small>Users Index</small></h1>
</div>

<div class="container" style="margin-top:10px;">
	<div class="col-md-6" >
		<%= link_to 'New User', new_user_path , class: "btn btn-success" %> <%= link_to 'List Home', lists_path, class: "btn btn-info" %>
	</div>
	</br>
	<div class="col-md-12">
		<div class="col-md-8 col-md-offset-3">
			<table class="table table-striped">
				<tr><th>id</th><th>Username</th><th>Email</th><th></th><th></th><th></th></tr>
				<% @users.each do |user| %>
				<tr><td><%= user.id %></td><td><%= user.username %></td><td><%= user.email %></td><td><%= link_to 'Show User', user_path(user) , class: "btn btn-info" %></td><td><%= link_to 'Edit User', edit_user_path(user) , class: "btn btn-warning" %></td><td><%= link_to 'Delete User', user_path(user), method: :delete, data: { confirm: 'Are you sure?'} , class: "btn btn-danger" %></td></tr>
				<% end %>
			</table>
		</div>
	</div>
		
</div>


